a:link {
    color: black;
}
a:visited {
    color: black;
}

.header-top {
	text-decoration: none;
	box-shadow: none;
	border-bottom: 1px solid #919191;
	background: #ECECEC;
	border-radius: 0px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height:6%;
  
	
}
.selectpicker {
	font-size:14px;

}
.sidebar-nav-fixed {
	
	width:10%;
	height:100%;
	padding-top: 1%;
	background: #E0E0E0;
	border-right: 1px solid #919191;
        top: 6%;
         z-index: 999;
	
}



.menuppal_cjtboto {
	border-top: 1px solid #919191;
	padding-bottom: 5%;
}


#boto_actiu  {  
	text-decoration: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 31%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(31%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 31%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.menuppal_cjtboto > li {
	
	border-bottom: 1px solid #919191;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #d8d8d8 30%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(30%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%,#d8d8d8 30%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%,#d8d8d8 30%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%,#d8d8d8 30%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%,#d8d8d8 30%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
}

.menuppal_cjtboto > li > a:hover,
.menuppal_cjtboto > li > a:focus {
	text-decoration: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 31%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(31%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 31%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}




.menuppal_cjtboto > li > a:active  {
	text-decoration: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 31%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(31%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 31%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 31%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}



.menuppal_cjtboto > li > a {
	padding: 5%;
}




.cos_principal {
	width:85%;
	position: absolute;
	left: 12%;
	top: 10%;
}

/*.btn {
	padding: 5%;
	
}
*/

.seccio_cos {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #919191;
}

.noticia .formulari{
	text-align:left;

	padding-bottom: 50px;
	
}

table.taula_formulari td{
	text-align: right;
	
}

table.taula_dades{
	text-align: center; 
	float:center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #919191;

	
}
table.taula_dades tr{
	border: 1px solid #919191;
}
table.taula_dades td{
	border: 1px solid #919191;
}

table.taula_dades th{
	text-align: center; 
}

table.taula_dades thead{
	font-weight: bold;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #d8d8d8 30%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(30%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%,#d8d8d8 30%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%,#d8d8d8 30%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%,#d8d8d8 30%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%,#d8d8d8 30%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

table.taula_formulari th, td {
    padding-left: 10px;
    padding-right: 10px;
}


.form-control:focus{
    border-color: #999;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.botomppal_image{
	width:16px;
	height:16px
}

.boto_med_image{
	width:32px;
	height:32px
}

